{{! Page; this file renders a single page}}
{{> head}}
{{> navbar}}

{{! injects code via a Custom HTML tool - as defined in the config.json file in the "renderer" section }}
{{#if @customHTML.beforePage}}
<div id="custom-html-before-page">
   {{{@customHTML.beforePage}}}
</div>
{{/if}}
{{! /injects code via a Custom HTML tool }}

<div class="page">
   {{#page}}
      {{#featuredImage}}
         {{#if url}}
            <figure class="featured-image">
               <img src="{{url}}" {{! checks if the Responsive Images option (located in Site Settings -> Website Speed) is enabled
               }}
               {{#if @config.site.responsiveImages}}
                  {{responsiveImageAttributes 'featuredImage' srcset sizes}}
               {{/if}}
               {{! generates a native loading attribute; if the Media Lazy Load option (located in Site Settings -> Website Speed)
               is disabled, the loading attribute is not generated }}
               {{ lazyload "eager" }}
               height="{{height}}"
               width="{{width}}"
               alt="{{alt}}">
               {{! checks if the caption or credits exist }}
               {{#checkIfAny caption credits}}
                  <figcaption>
                     {{caption}}
                     {{credits}}
                  </figcaption>
               {{/checkIfAny}}
            </figure>
         {{/if}}
      {{/featuredImage}}

      <main class="main">
         <h1 class="title">
            {{title}}
         </h1>

         {{{text}}}
      </main>

   {{/page}}
</div>